@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
:root{
    color:darkgreen;
}

body{
    background-color:orchid;
}

p{
    color:indigo;
    font-size:30px; 
}

ol{
    color: indigo;
    font-size: 25px; 
    
}

h2{
    color: #bcfd49;
    font-size: 80px;
    font-family:'Brush Script MT', cursive;
; 
}

h1{
    color: #bcfd49;
    font-size:100px;
    font-family:'Brush Script MT', cursive;
}
.hero img{
    display:block;
    width:100%;
    height:auto;  
}

.hero h1{
    position:absolute;
}

.hero article{
    position:absolute;
}
