@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
/* Home Page */
/*About Us Page */
/*Trips Page */
/*Contact Us Page */
/*Title Bar*/
.root{
  color:purple;
}
.happy h2{
  margin-left: 100px; 
  text-align: center; 

}
.grid-item {
  display: grid; 
  grid-template-columns: auto auto auto auto;
  padding: 50px;
  text-align: center;
  font-size: 50px;
  float: left; 
  margin-right: 240px;
  top:10px;

}

.grid-item2 {
  display: flex; 
  background-color: yellow;
  grid-template-columns: auto auto auto auto;
  border-style: solid; 
  padding: 10px;
  text-align: center;
  font-size: 30px;
  float: left; 
  margin: 0px;
  color: yellow;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-item2:hover {
  background-color:darkgreen;
}
.grid-item3 {
  grid-template-columns: auto auto auto;

  display: inline-block; 
  
  max-width: 250px;
  max-block-size: 250px; 
  padding: 20px;
  margin-right: 115px;
  margin-left: 115px;
  grid-gap: 20px;
  color: yellow;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: purple;
}

figcaption{
  text-align:center;
  font-size: 30px; 
  background-color: yellow;
  color: purple;
}

img{
  width: 200px;
}