nav{
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color:white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

img{
    width: 200px;
    height: auto;
    border: 5px solid yellow; 
    padding: 2px;
    box-shadow: 0 0 50px lemonchiffon; 
    background-color: purple;
}

p{
    padding:0px; 
}
aside{
    width:300px;
    margin: 100px;
    border: 20px;
    padding: 30px;
    background-color: purple;
    color: yellow; 
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
main img{
    width:150px;
    height:auto;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}